# Arquivos gerados pelo sistema
.DS_Store
Thumbs.db

# Arquivos gerados pela compilação
target/
**/target/
**/build/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.apt_generated
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/

# Visual Studio Code
.vscode/
